.manage-users-container{
    padding: 10px;
    .user-content{
        .img-preview{
            border: 1px solid red;
            height: 150px;
        }
        .btn-add-new{
            margin: 15px 0;
            
        }
    }
    .title {
        font-weight: 600;
        font-size: 20px;
    }
}

.modal-add-user{
    .img-preview{
        height: 150px;
        border: 1px dotted #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload{
        border-radius: 5px;
        border: none;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 3px 14px;
        background: #d5d4d4;
        cursor: pointer;
        &:hover{
            background-color: #b9b9b9;
        }
    }
}